In [1]:
from src.config.root_path import get_project_root_path
from src.annotate_data.annotate_from_path import data_path_to_annotation_list
import pandas as pd

In [2]:
root_path = get_project_root_path()

In [3]:
data_path = root_path / "data"

In [21]:
metadata = pd.read_csv(data_path / "vox1_vox1_meta.csv", sep='\t', dtype={"user_id": str})

In [22]:
metadata

      user_id       user_name gender nationality  set
0     id10001    A.J._Buckley      m     Ireland  dev
1     id10002     A.R._Rahman      m       India  dev
2     id10003      Aamir_Khan      m       India  dev
3     id10004     Aaron_Tveit      m         USA  dev
4     id10005       Aaron_Yoo      m         USA  dev
...       ...             ...    ...         ...  ...
1246  id11247    Zachary_Levi      m         USA  dev
1247  id11248  Zachary_Quinto      m         USA  dev
1248  id11249     Zack_Snyder      m         USA  dev
1249  id11250     Zoe_Saldana      f         USA  dev
1250  id11251     Zulay_Henao      f         USA  dev

[1251 rows x 5 columns]

In [11]:
annotations_train = data_path_to_annotation_list(data_path / "vox1_test_wav", "train")

In [12]:
annotations_test = data_path_to_annotation_list(data_path / "vox1_dev_wav", "test")

In [14]:
all_annotations = [*annotations_train, *annotations_test]

In [16]:
annotations_df = pd.DataFrame(all_annotations)

In [17]:
annotations_df.head()

                                            wav_path  user_id  split
0  /home/mateusz/ai/biometry/VoiceAuthenticatior/...  id10277  train
1  /home/mateusz/ai/biometry/VoiceAuthenticatior/...  id10277  train
2  /home/mateusz/ai/biometry/VoiceAuthenticatior/...  id10277  train
3  /home/mateusz/ai/biometry/VoiceAuthenticatior/...  id10277  train
4  /home/mateusz/ai/biometry/VoiceAuthenticatior/...  id10277  train

In [26]:
annotations_with_metadata = pd.merge(annotations_df, metadata, on="user_id", how="left")

In [29]:
annotations_with_metadata.head(5)

,wav_path,user_id,split,user_name,gender,nationality,set
0,/home/mateusz/ai/biometry/VoiceAuthenticatior/...,id10277,train,Eduardo_Noriega,m,Spain,test
1,/home/mateusz/ai/biometry/VoiceAuthenticatior/...,id10277,train,Eduardo_Noriega,m,Spain,test
2,/home/mateusz/ai/biometry/VoiceAuthenticatior/...,id10277,train,Eduardo_Noriega,m,Spain,test
3,/home/mateusz/ai/biometry/VoiceAuthenticatior/...,id10277,train,Eduardo_Noriega,m,Spain,test
4,/home/mateusz/ai/biometry/VoiceAuthenticatior/...,id10277,train,Eduardo_Noriega,m,Spain,test

In [33]:
annotations_with_metadata.to_json(data_path / "annotations_with_metadata.json", orient="records", index=False)