In [6]:
from src.config.root_path import get_project_root_path
from src.annotate_data.annotate_from_path import data_path_to_annotation_list
import pandas as pd

In [7]:
root_path = get_project_root_path()

In [8]:
data_path = root_path / "data"

In [9]:
metadata = pd.read_csv(data_path / "vox1_vox1_meta.csv", sep='\t')

In [10]:
metadata.head()

   user_id     user_name gender nationality  set
0  id10001  A.J._Buckley      m     Ireland  dev
1  id10002   A.R._Rahman      m       India  dev
2  id10003    Aamir_Khan      m       India  dev
3  id10004   Aaron_Tveit      m         USA  dev
4  id10005     Aaron_Yoo      m         USA  dev

In [11]:
annotations_train = data_path_to_annotation_list(data_path / "vox1_dev_wav", "train")

In [12]:
annotations_test = data_path_to_annotation_list(data_path / "vox1_test_wav", "test")

In [13]:
all_annotations = [*annotations_train, *annotations_test]

In [14]:
annotations_df = pd.DataFrame(all_annotations)

In [15]:
annotations_df.head()

                                            wav_path  user_id  split
0  /home/mateusz/ai/biometry/VoiceAuthenticatior/...  id10092  train
1  /home/mateusz/ai/biometry/VoiceAuthenticatior/...  id10092  train
2  /home/mateusz/ai/biometry/VoiceAuthenticatior/...  id10092  train
3  /home/mateusz/ai/biometry/VoiceAuthenticatior/...  id10092  train
4  /home/mateusz/ai/biometry/VoiceAuthenticatior/...  id10092  train

In [16]:
annotations_with_metadata = pd.merge(annotations_df, metadata, on="user_id", how="left")

In [17]:
annotations_with_metadata.head(5)

,wav_path,user_id,split,user_name,gender,nationality,set
0,/home/mateusz/ai/biometry/VoiceAuthenticatior/...,id10092,train,Bingbing_Li,f,China,dev
1,/home/mateusz/ai/biometry/VoiceAuthenticatior/...,id10092,train,Bingbing_Li,f,China,dev
2,/home/mateusz/ai/biometry/VoiceAuthenticatior/...,id10092,train,Bingbing_Li,f,China,dev
3,/home/mateusz/ai/biometry/VoiceAuthenticatior/...,id10092,train,Bingbing_Li,f,China,dev
4,/home/mateusz/ai/biometry/VoiceAuthenticatior/...,id10092,train,Bingbing_Li,f,China,dev

In [18]:
annotations_with_metadata.to_json(data_path / "annotations_with_metadata.json", orient="records", index=False)